.a-propos {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-style: none;
    line-height: 30px;
    margin: 80px 100px 100px 100px;
}

.a-propos p {
    text-align: justify;
}


.première-citation {
    margin-top: 150px;
}

.citation {
    text-align: left !important;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

.auteur {
    font-size: 22px;
    font-style: normal;
}
