.a-propos {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-style: none;
    line-height: 35px;
    margin: 80px 100px 100px 100px;
}

.a-propos p {
    text-align: justify;
}

.citation {
    text-align: center !important;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
}

.auteur {
    font-size: 22px;
    font-style: normal;
}

body {
    background-color: white !important;
}