.accueil-main {
    background-color: rgb(39, 39, 39) !important; 
    margin-top: 80px; /* hauteur du header */
    height: calc(100vh - 80px); /* espace restant */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .accueil-main .swiper {
    height: 90%; /* 90% de l’espace dispo dans main */
    width: 100%;
    max-width: 1000px;
    position: relative;
  }