body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.accueil-main {
  margin-top: 80px; /* espace sous le header */
  height: calc(100vh - 80px); /* zone dispo sous le header */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  max-width: 1000px;
  height: 90%;
  position: relative;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
}

.swiper-pagination {
  color: #ffffff !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: light;
}
